body {
    text-align: center;
}

.youWin {
    left: 0;
    right: 0;
    top: 250px;
    width: 247px;
    height: 133px;
    margin: 0 auto;
    padding: 1em 1em;
    position: absolute;
    z-index: 1;
    background-color: #DAA520;
    font-family: 'Alegreya', serif;
    border-radius: 10px;
    color: #fff;
}

.youWin button {
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    margin-top: 0.5em;
    background-color: #00BFFF;
    font-size: 20px;
    color: #fff;
}

.youLose {
    left: 0;
    right: 0;
    top: 250px;
    width: 247px;
    height: 133px;
    margin: 0 auto;
    padding: 1em 1em;
    position: absolute;
    z-index: 1;
    background-color: #8B0000;
    font-family: 'Alegreya', serif;
    border-radius: 10px;
    color: #fff;
}

.youLose button {
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    margin-top: 0.5em;
    background-color: #696969;
    font-size: 20px;
    color: #fff;
}

.backLayer {
    left: 0;
    right: 0;
    top: 58px;
    width: 505px;
    height: 536px;
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(1, 0, 0, 0.3);
    transition: opacity 500ms;
}

.hide {
	visibility: hidden;
	/*opacity: 0 !important;*/
}
.show {
	visibility: visible ;
	/*opacity: 1 !important;*/
}
