body {
    text-align: center;
}
.hide {
	visibility: hidden;
	opacity: 0 !important;
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    width: 505px;
    height: 536px;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
}

.youWin {
    font-family: 'Alegreya', serif;
    position: absolute;
    background-color: #FFD700;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 250px;
    width: 247px;
    height: 133px;
    margin: 0 auto;
    padding: 1em 1em;
    color: #fff;
    visibility: hidden;
}

.youWin button {
    background-color: #696969;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 0.5em;
}

.youLose {
    font-family: 'Alegreya', serif;
    position: absolute;
    background-color: #FF0000;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 250px;
    width: 247px;
    height: 133px;
    margin: 0 auto;
    padding: 1em 1em;
    color: #fff;
    visibility: hidden;
}

.youLose button {
    background-color: #696969;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 0.5em;
}

